body{
    background-image:url(landscape1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
form{
    margin: auto;
    width: 20em;
    text-align: center;
    border: 1px solid black;
    box-shadow: inset 0 0 2px black, 0 0 2px black;
}
#win{
    display: none;
    font-size: 100px;
    color: green;
}
#lose{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: red;
}
#incorrect{
    display: none;
    font-size: 40px;
    color: red;
}
#randomNumber-p{
    background-color: transparent;
    font-size: 24px;
    padding: 10px;
    color: transparent;
    font-weight: bold;
}
.a-link{
    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
    transition: 0.2s;
}
.a-link:hover{
    text-shadow: 0 0 20px black, 2px 2px 4px black;
}
.link{
    font-size: 32px;
}